<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        h1{
            margin-top:60px;
            text-align:center;
        }
       
        p{
            text-align:center;
        }
    </style>
</head>
<body>
    <h1> The current time and date is: </h1>
        <!-- DateTime CurrentTime = DateTime.Now; -->

      <p> The date is: @DateTime.Now.ToString("MM - dd - yyyy")</p>
      <p> The time is: @DateTime.Now.ToString("hh:mm:tt")</p>
    
</body>
</html>